.header { 

}
 
#dark-background { 
    color: black;
    background-color: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.links { 
    display: flex;
    align-items: flex-end;

}

.mid {

}

.img {

}

.quote {

}

.sign-up {

}

.hero-secondary {
    
}